@model DoAnTN.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="modal-dialog" role="document">
    <div class="modal-content" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
        <div class="modal-header" style="justify-content: center">
            <h4 class="modal-title" id="addProductLabel" style="font-weight: bold">ĐĂNG NHẬP</h4>
        </div>
        <div class="modal-body">
            <form asp-action="Login" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Tên đăng nhập</label>
                    <input asp-for="UserName" class="form-control" placeholder="Tên đăng nhập" required autofocus style="outline: none"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Mật khẩu</label>
                    <input type="password" asp-for="PassWord" placeholder="Mật khẩu" class="form-control" required  style="outline: none"/>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="rememberMe" style="outline: none"/>
                    <span>Nhớ mật khẩu</span>
                </div>
                <div class="form-group" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 0">
                    <button type="submit" class="btn btn-primary" style="width: 200px; height: 50px; margin-bottom: 10px">
                        <span style="font-weight: bold; font-size: 20px">ĐĂNG NHẬP</span>
                    </button>
                    <div>Bạn chưa có tài khoản? <a asp-action="Create" asp-controller="Users">Đăng kí</a> ngay.</div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
