@model DoAnTN.Models.SaleCode

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>SaleCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodeTypeId" class="control-label"></label>
                <select asp-for="CodeTypeId" class="form-control" asp-items="ViewBag.CodeTypeId"></select>
                <span asp-validation-for="CodeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionSale" class="control-label"></label>
                <input asp-for="ConditionSale" class="form-control" />
                <span asp-validation-for="ConditionSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosedDate" class="control-label"></label>
                <input asp-for="ClosedDate" class="form-control" />
                <span asp-validation-for="ClosedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label"></label>
                <input asp-for="Sale" class="form-control" />
                <span asp-validation-for="Sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDisplay" class="control-label"></label>
                <input asp-for="IsDisplay" class="form-control" />
                <span asp-validation-for="IsDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
